@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); /*! for dark mode */

@theme {
  /*! Colors  */
  --color-primary: #f5f7fa;
  --color-secondary: #fff;
  --color-btn: #4caf4f;
  --color-gray: #717171;
  --color-light: #899393;
  --color-light-black: #4d4d4d;
  --color-footer: #263238;
  --color-text: #000;

  /*! fonts */
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-
}

/*! Classes  */
.btn {
  @apply py-4 px-10 bg-btn rounded-[5px] text-lg text-secondary;
}
